.App {
  text-align: center;
  background-image: url("pix.jpg");
  color: rgb(30, 30, 86);
}

.headerClass{
  background: rgb(67, 192, 182);   
 padding: 15px;
  border: solid 5px;
 }

 .headerClasso{
  background: rgb(156, 209, 204);   
  border: solid 5px;
 }